:root {
  --whitish: #ececec;
  --beige: #c9c3a6;
  --red: rgb(133, 27, 27);
  --green: rgb(62, 238, 153);
  --orange: rgb(133, 74, 18);
  --teal: #9fd3c7;
  --lightblue: #385170;
  --darkblue: #142d4c;

  background-color: var(--beige);
}

body {
  font-family: "Courier", sans-serif;
}

#game--title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* Top  Area with players # and main message box  */

#topContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px dashed grey; */
}

#gameMsgBox {
  /* border: 1px dashed grey; */
  width: 70%;
  text-align: center;
  padding: 10px;
}

#player1Box {
  background-color: var(--red);
  /* border: 1px dashed grey; */
  border-radius: 5%;
  text-align: center;
  padding: 20px;
  color: var(--beige);
}

#player2Box {
  background-color: var(--green);
  /* border: 1px dashed grey; */
  border-radius: 5%;
  text-align: center;
  padding: 20px;
}

/* Central Area with players cards and main board  */

#board {
  /* border: 1px dashed grey; */
  display: flex;
  justify-content: center;
}

#player1Area {
  /* border: 1px dashed grey; */
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 2px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 20px;
}

#player2Area {
  /* border: 1px dashed grey; */
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 2px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 20px;
}

.scores {
  /* border: none; */
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-left: 40px;
  margin-right: 40px;

  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--darkblue);
  color: var(--whitish);
  font-size: 20px;
  margin-top: 10px;
}

.playerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 10px;
}

.wildCardDisplay {
  background-color: var(--darkblue);
  color: var(--whitish);
  width: 3.9375rem;
  height: 7rem;
  border-radius: 5%;
  text-align: center;
  line-height: 9rem;
  background-size: contain;
  padding: 3px;
}

#cardContainer {
  /* border: 1px dashed grey; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* padding: 2%; */
  width: 70%;
  row-gap: 20px;
  column-gap: 20px;
}

.cardBox {
  background-color: var(--darkblue);
  color: var(--whitish);
  width: 5.5rem;
  height: 8rem;
  border-radius: 5%;
  text-align: center;
  line-height: 9rem;
  background-size: contain;
  padding: 3px;
  /* max-height: 100%; */

  /* ("https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61+jpMbTLvL.jpg"); */
}

.hide {
  background-color: var(--beige);
  opacity: 0;
}

#menu {
  /* border: 1px dotted grey; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
  margin: 20px 450px;
}

select {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--darkblue);
  color: var(--whitish);
}

select:focus {
  outline: none;
}

#gameReset {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--darkblue);
  color: var(--whitish);
}

footer {
  font-size: 10px;
}
