:root {
  --whitish: #ececec;
  --beige: #c9c3a6;
  --red: rgb(133, 27, 27);
  --green: rgb(15, 97, 57);
  --orange: rgb(133, 74, 18);
  --teal: #9fd3c7;
  --lightblue: #2e69b0;
  --darkblue: #142d4c;

  background-color: var(--beige);
}

body {
  font-family: "Courier", sans-serif;
}

#game--title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* TOP AREA:  players number, main message box  */

#topContainer {
  /* border: 1px dashed grey; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#gameMsgBox {
  /* border: 1px dashed grey; */
  width: 70%;
  text-align: center;
}

#player1Box {
  /* border: 1px dashed grey; */
  background-color: var(--red);
  border-radius: 5%;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: var(--whitish);
}

#player2Box {
  /* border: 1px dashed grey; */
  background-color: var(--green);
  border-radius: 5%;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: var(--whitish);
}

/* MAIN CENTRAL AREA: main playing board with cards, and each player's area on each side, with score, and special or wildcards  */

#board {
  /* border: 1px dashed grey; */
  display: flex;
  justify-content: center;
}

#player1Area {
  /* border: 1px dashed grey; */
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 2px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 20px;
}

#player2Area {
  /* border: 1px dashed grey; */
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 2px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 20px;
}

.scores {
  /* border: none; */
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;

  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--lightblue);
  color: var(--whitish);
  font-size: 20px;
  margin-top: 10px;
}

.playerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 10px;
}

.wildCardDisplay {
  background-color: var(--darkblue);
  color: var(--whitish);
  width: 3.9375rem;
  height: 7rem;
  border-radius: 5%;
  text-align: center;
  line-height: 9rem;
  background-size: contain;
  padding: 3px;
}

#cardContainer {
  /* border: 1px dashed grey; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* padding: 2%; */
  width: 70%;
  row-gap: 20px;
  column-gap: 20px;
}

.cardBox {
  background-color: var(--darkblue);
  color: var(--whitish);
  width: 5.5rem;
  height: 8rem;
  border-radius: 5%;
  text-align: center;
  line-height: 9rem;
  background-size: contain;
  padding: 3px;
  /* max-height: 100%; */
}

.hide {
  background-color: var(--beige);
  opacity: 0;
}

/* LOWER AREA : level section dropdown button and reset button  */

#menu {
  border: 1px dotted grey;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  /* margin: 20px 300px; */
}

select {
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--darkblue);
  color: var(--whitish);
  margin-right: 70px;
  margin-left: 20px;
}

select:focus {
  outline: none;
}

#gameReset {
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--darkblue);
  color: var(--whitish);
  margin-right: 70px;
}

#helpInstructions {
  display: none;
}

#help {
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "Courier", sans-serif;
  background-color: var(--darkblue);
  color: var(--whitish);
}

#help:hover + #helpInstructions {
  display: block;
  color: red;
}

footer {
  font-size: 10px;
}
